.careerjet-jobs h2 {
    font-size: 18px;
    color: #0549e8;
}
.careerjet-jobs h3 {
    font-size: 18px;
    color: #CC152F;
}
.careerjet-jobs h4 {
    font-size: 18px;
    color: #0549e8;
}
.careerjet-jobs p {
    font-size: 14px;
}
